#card {
	background-color: whitesmoke;
	border: 3px solid black;
	border-radius: 8px;
	padding: 10px;
	margin-left: 5%;
	margin-top: 2%;
	width: 350px;
	height: auto;
	display: inline-block;
}

img {
	width: 200px;
	height: 200px;
	margin-left: 75px;
}

h3{
	margin-left: 10px;
}

p{
	margin-left: 10px;
}

.sold{
	margin: -10px -10px 10px;
	color: white;
	background: darkred;
	display: block;
	text-align: center;
	padding: 3px 5px;
	width: 100px;
	z-index: -1;
}

.inStock{
	margin: -10px -10px 10px;
	color: white;
	background: forestgreen;
	display: block;
	padding: 3px 5px;
	width: 100px;
	text-align: center;
	z-index: -1;
}