#card {
	background-color: white;
	border: 3px solid grey;
	border-radius: 10px;
	padding: 2px;
	width: 350px;
	height: auto;
	display: inline-block;
}

.shoeImage {
	width: 200px;
	height: 200px;
	margin-left: 75px;
}

h3{
	margin-left: 10px;
}

p{
	margin-left: 10px;
}

.sold{
	margin: auto;
	margin-left: -2px;
	color: white;
	background: darkgray;
	display: inline;
	text-align: center;
	font-weight: bold;
	padding: 2px 20px;
	border-radius: 4px;
}